.list {
  margin: 0;
  padding: 0;
  text-align: center;

  > li {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 5px;
    width: 80px;
    height: 80px;
    background: rgba(0, 0, 0, 0.1);

    img {
      width: 100%;
      height: 100%;
    }

    .operations {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      list-style: none;
      background: rgba(0, 0, 0, 0.6);
      opacity: 0;
      transition: all .3s;
      color: #FFF;
      margin: 0;
      padding: 0;
      font-size: 26px;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);

      &:hover {
        opacity: 1;
      }

      li {
        cursor: pointer;

        &.delete {
          grid-column: ~"1 / 3";
          
          &:hover {
            background: rgba(255, 0, 0, 0.3);
          }
        }

        &:hover {
          text-shadow: 0 0 3px #FFF;
          background: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}

.tooltip {
  pointer-events: none;

  h3 {
    color: #FFF;
  }
  p {
    margin: 0;
  }
}