@import (reference) '~antd/dist/antd.less';
@border: 1px solid @blue-4;

.noteBlock {
  border-bottom: @border;
  background: @blue-1;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px 8px;

  &:last-child {
    border-bottom: 0;
  }

  &:hover {
    box-shadow: 0 0 5px @blue-3;
  }

  &.active {
    background-color: @blue-4;
    color: #FFF;
  }

  &.create {
    text-align: center;
  }

  .content {
    flex: auto;

    h3,
    p {
      margin: 0;
      color: inherit;
    }
  }
}

.noteBlockList {
  display: inline-flex;
  flex-direction: column;
  border: @border;
  border-radius: 2px;
}
