@import (reference) '~antd/dist/antd.less';
@border: 1px solid @blue-4;

.noteBlock {
  border: @border;
  border-radius: 2px;
  background: @blue-1;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px 8px;

  &:hover {
    box-shadow: 0 0 5px @blue-3;
  }

  &.active {
    background-color: @blue-4;
    color: #fff;
  }

  &.create {
    text-align: center;
  }

  .extra {
    padding: 0 4px;
    align-self: stretch;
    display: flex;
    align-items: center;

    &.hover:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }

  .holder {
    flex: auto;

    h3,
    .content {
      margin: 0;
      color: inherit;

      .dangerHolder {
        *:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.noteBlockList {
  display: inline-flex;
  flex-direction: column;
  row-gap: 8px;
  height: 100%;
  overflow-y: auto;
}
