.logo {
  color: #FFF;
  vertical-align: top;
  display: block;
  text-align: center;
  line-height: 64px;
  font-size: 20px;
}

.mobileHeader {
  .logo {
    display: inline-block;
    padding: 0 25px 0 0;
  }

  > ul {
    display: inline-block;
  }
}

:global {
  .hidden {
    display: none;
  }

  .ant-layout-sider-zero-width-trigger {
    z-index: 1;
  }
}